@using CourseProject.ViewModels
@model SearchModel


<h2>
    Результаты поиска
</h2>
<h3>Результаты по запросу @Model.SearchString</h3>
<div class="row mt-5 mb-2">
    @{
        CategoryContext categoryContext = new CategoryContext();
        foreach (Order order in Model.allOrders)
        {
        <div class="container border">
            <h3 class="mt-5"><a asp-controller="Order" asp-action="Index" asp-route-id="@order.Id">@order.ShortDesc</a></h3>
            <h6 class="lead">@order.Price</h6>
            <h6 class="lead">@categoryContext.getNameById(order.CategoryId)</h6>
            <p class="lead">@order.LongDesc</p>
            @if (ViewBag.UserId != order.AccountId && User.Identity.IsAuthenticated)
            {
                <a asp-controller="Request" asp-action="Add" asp-route-orderId="@order.Id">Откликнуться</a>
            }
        </div>
        }
    }
</div>

